/*======================
     01.BASICS
========================*/

:root {
    --pColor: #F300CC;
    --sColor: #813E95;
    --textColor: #35363A;
    --borderColor: #ebebeb;
    --lightTextColor: rgba(53, 54, 58, .6);
    --gradient: var(--sColor), var(--pColor)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: var(--textColor);
    line-height: normal;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--textColor);
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

.lightTextColor {
    color: var(--lightTextColor);
}

.btn-pay-gradient {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    color: white;
    overflow: hidden;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, var(--gradient));
    transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
}

.btn-pay-gradient-outline {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    color: transparent;
    background: linear-gradient(to bottom, var(--gradient));
    -webkit-background-clip: text;
    background-clip: text;
    background-color: transparent;
    border-radius: 16px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn-pay-gradient-outline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    padding: 2px; 
    background: linear-gradient(to bottom, var(--gradient));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }


.btn-pay-gradient:hover {
    color: #fff;
}

.bg-gradient {
    background: linear-gradient(to right, var(--gradient)) !important;
    color: white;
}

.text-color-gradient {
    background: linear-gradient(to bottom, var(--gradient)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.fs-small {
    font-size: 70%;
    color: var(--textColor) !important;
    background: none !important;
    font-weight: 400 !important;
}

.bg-p-light {
    border: 1px solid #e8a4d1 !important;
}

.border-p {
    border-color: var(--pColor) !important;
}



section {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*======================
     02.HERO
========================*/
    .hero {
        background: url(/assets/img/svg/Vector\ 3.svg);
        background-size: cover;
        /* min-height: 100vh; */
        background-position: center center;
        width: 100%;
    }

    header {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        background-color: #fff;
    }

    .nav-logo_img {
        height: 70px;
        width: auto;
    }

    .nav-logo_text {
        font-size: 20px;
        font-weight: 700;
    }

    header .header-title {
        font-size: 16px;
        font-weight: 600;
    }
    
    header .header-subtitle {
        font-size: 8px;
        font-weight: 300;
        color: var(--lightTextColor);
    }

    header button.toggler {
        height: 36px;
        width: 36px;
        padding: 4px;
        background-image: linear-gradient(#F300CC, #813E95);
        border: 2px solid transparent;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

    .hero-content {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .hero-content_heading {
        font-weight: 700;
        line-height: 80px;
        text-align: center;
    }

    .hero-content_paragraph {
        font-size: 25px;
        line-height: normal;
        text-align: center;
        color: var(--lightTextColor);
        margin-top: 40px;
    }

    .hero-content_button .btn-pay-gradient {
        margin-top: 40px;
        width: 400px;
        color: white;
        font-weight: bold;
        font-size: 16px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .hero-partner {
        margin-top: 60px;
    }

    .hero-partner_text p {
        font-size: 24px;
        position: relative; 
        display: inline-block;
        margin-bottom: 30px;
    }
    
    .hero-partner_text p::before,
    .hero-partner_text p::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: var(--textColor);
        top: 50%;
        transition: width 0.4s ease-in-out;
        transform: translateY(-50%);
        width: 160px;
    }
    
    .hero-partner_text p::before {
        left: -180px;
    }
    
    .hero-partner_text p::after {
        right: -180px;
    }
    
/*======================
     03.COMING SOON
========================*/

    

    .coming-soon_label {
        font-size: 20px;
        font-weight: 600;
        background: linear-gradient(to bottom, var(--gradient)); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }


    .coming-soon_title {
        font-size: 50px;
        font-weight: 700;
        margin-top: 20px;
    }

    .coming-soon_subtitle {
        font-size: 18px;
        color: var(--lightTextColor);
        margin-top: 20px;
    }

    .coming-soon_box-card {
        height: 100%;
        padding: 40px 24px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .coming-soon_box-card-heading {
        font-size: 24px;
        font-weight: 600;
        line-height: 35px;
    }

    .coming-soon_box-card-paragraph {
        font-size: 14px;
        line-height: 20px;
    }


/*======================
     04.LAUNCHING SOON
========================*/

    .launching-soon_box {
        background: linear-gradient(to bottom, var(--gradient));
        padding: 90px 120px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
    }

    .launching-soon_heading {
        color: #fff;
        font-weight: bold;
        font-size: 70px;
        text-align: center;
    }

    .launching-soon_button .btn-white {
        margin-top: 30px;
        width: 400px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: white !important;
        color: var(--pColor);
        font-weight: bold;
        font-size: 16px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }


    .arrow-icon {
        color: var(--pColor);
        width: 20px;
        height: 20px;
    }
    

/*======================
     05.FOOTER
========================*/
    
    .footer-logo_img {
        height: 70px;
        width: auto;
    }
        
    .footer-logo_text {
        font-size: 20px;
        font-weight: 700;
    }


    footer-text p {
        font-size: 20px;
    }

/*======================
     06.MODAL
========================*/



    .modal-heading {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    .modal-heading-2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .modal-paragraph {
        color: var(--lightTextColor);
        font-size: 16px;
        font-weight: 300;
    }

    .modal-paragraph-1 {
        color: var(--textColor);
    }

    .modal-text-2 .modal-paragraph,
    .modal-text-2 .modal-paragraph-1{
        font-size: 12px;
    }

    .modal-link {
        color: #FBB0EF;
        text-align: center;
    }

    .modal-table {
        font-size: 10px;
    }

    .modal-form {
        margin-top: 30px;
    }

    #joinWaitlist .modal-form input.form-control {
        background-color: rgba(53, 54, 58, .05);
        border: none;
    }

    .modal-form input.form-control,
    .modal-form select.form-select {
        height: 48px;
    }

    .modal-form input::placeholder {
        font-weight: 300 !important;
        font-size: 12px;
        color: #c2c2c2;
    }

    input.form-control:focus,
    select.form-select:focus {
        outline: none;
        border: 1px solid var(--sColor);
        background-color: rgba(53, 54, 58, .02);
        box-shadow: 0 0 5px rgba(53, 54, 58, .2);
    }

    .modal-form .modal-button:hover {
        color: #fff;
    }


/*======================
     01.DASHBOARD =================
========================*/

    body.dashboard {
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
        width: 100%;
        
        background-color: #F9FAFB;
    }

    .dashboard .nav-logo_img {
        height: 60px;
    }

    .dashboard .main-content {
        overflow-x: hidden;
        padding: 0;
    }

   

    .top-sidebar img {
        color: #813E95;
    }

    .dashboard .top-sidebar,
    .dashboard .bottom-sidebar {
        background-color: #fff;
        padding: 30px 24px;
        border: 1px solid var(--borderColor);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    

    .dashboard .top-sidebar li+li,
    .dashboard .bottom-sidebar li+li {
        margin-top: 30px;
    }

    .dashboard .sidebar a.active,
    .dashboard .sidebar a:hover:not(.btn-pay-gradient),
    .dashboard-content_transaction-box a.active{
        background: linear-gradient(to bottom, var(--gradient)); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        text-decoration: none;
        display: block;
    }

    .dashboard .sidebar a svg {
        height: 20px;
        width: 20px;
    }

    .dashboard .sidebar p{
        font-weight: bold;
        font-size: 14px;
    }

    .dashboard .btn-pay-gradient {
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .dashboard a.btn-pay-gradient:hover {
        background: none;
        background-color: #813E95;
        color: white;

    }

    .dashboard-content {
        overflow-x: hidden;
    }

    .dashboard-content_balance .balance-card {
        background-color: #fff;
        padding: 30px;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .balance-card.due-available{
        background-color: #F2ECF4;
        padding: 16px;
    }
    
    .balance-card.due-paid{
        background-color: #550047;
        padding: 16px;
        color: #fff;
    }

    .balance-card.due-paid .balance-card_subtitle {
        color: #fff;
    }

    .balance-card .balance-card_subtitle{
        font-size: 12px;
        font-weight: 400;
        color: var(--lightTextColor);
    }

    .balance-card .balance-card_title{
        font-size: 24px;
        font-weight: 600;
    }

    .balance-card .svg-box {
        background-color: #FBFBFB;
        height: 24px;
        width: 24px;
        padding: 4px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .balance-card .svg-box svg{
        height: 100%;
        width: 100%;
    }

    .dashboard-content_header {
        background-color: #fff;
        padding: 10px;
        padding-bottom: 18px;
        padding-top: 18px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
}

    .dashboard-content_paragraph {
        color: var(--lightTextColor);
    }

    .dashboard-content_search input{
        width: 290px;
        height: 42px;
        padding: 2px 16px;
        padding-left: 40px;
        border: 1px solid var(--borderColor);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }


    .dashboard-content_search-img {
        height: 42px;
        width: 42px;
        padding: 10px;
        object-fit: cover;
        border: 1px solid var(--borderColor);
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .dashboard-content_search-img img {
        height: 100%;
        width: 100%;
    }

    .dashboard-content_transaction-box {
        background-color: #fff;
        margin-top: 30px;
        padding: 24px 16px;
        border-radius: 16px 16px 0 0;
        -webkit-border-radius: 16px 16px 0 0;
        -moz-border-radius: 16px 16px 0 0;
        -ms-border-radius: 16px 16px 0 0;
        -o-border-radius: 16px 16px 0 0;
    }

    .dashboard-content_transaction-box select {
        min-width: 170px !important;
        padding: 8px;
        height: 44px;
        padding-left: 40px;
        border: .5px solid var(--borderColor);
        font-size: 12px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .dashboard-content_transaction-box p{
        padding: 12px;
        font-size: 12px;
        color: #c2c2c2;
        border: .5px solid var(--borderColor);
        border-radius: 8px;
    }


    .dashboard-content_details_filter {
        background-color: #fff;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .dashboard-content_details_filter .item+.item {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .dashboard-content_details_filter .item p {
        margin-bottom: 8px;
        font-weight: 600;
    }
    
    .dashboard-content_details_filter .item .form-check {
        margin-bottom: 8px;
        font-size: 12px;
    }

    .form-check-input:focus {
        box-shadow: none;
        border-color: var(--sColor);
    }

    .form-check-input:checked {
        background-image: linear-gradient(45deg, var(--gradient));
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: none;
        outline: none;
    }

    .association-logo-box {
        background: rgba(254, 230, 250, .2);
        padding: 16px 24px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }

    .association-logo_img{
        height: 70px;
        width: 70px;
        padding: 12px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    } 

    .association-logo_img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .association-logo-box p+p{
        font-size: 80%;
        color: var(--lightTextColor);
    }

    a.gradient-link, 
    .payable-dues label {
        background: linear-gradient(to bottom, var(--gradient)); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
    }

    .payable-dues_card {
        margin-top: 12px;
        padding: 24px;
        font-size: 85%;
        border: 1px solid var(--borderColor);
        background-color: #fff;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .payable-dues_card.countdown_card {
        font-size: 82%;
    }

    .payable-dues_card input[type="checkbox"] {
        height: 16px;
        width: 16px;
    }

    .voting-NavLink {
        background-color: #FEE6FA;
        color: black;
        overflow: hidden;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
}

    .voting-NavLink > a {
        padding: 10px 18px;
        text-align: center;
        display: inline-block;
        position: relative;
        transform: translateY(0);
        text-decoration: none;
        color: inherit;
        z-index: 1;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        -webkit-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        -moz-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        -ms-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

    .voting-NavLink > a.active {
        background-color: white;
        transform: translateY(0);
    }

    .voting-NavLink > a.active span {
        background: linear-gradient(to bottom, var(--gradient));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    
    .voting-NavLink > a::after,
    .voting-NavLink > a:hover::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        width: 0;
        height: 2px;
        background: linear-gradient(to right, var(--gradient));
        transform: translateX(-50%);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
}

    .voting-NavLink > a.active::after {
        display: none;
    }

    .voting-NavLink > a:hover::after {
        width: 70%;
    }

    .voting-NavLink > a.active::after {
        width: 70%;
    }

    .content-section {
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .content-section:not(.d-none) {
        animation: fadeIn 0.3s ease forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            -ms-transform: translateY(10px);
            -o-transform: translateY(10px);
        }

        40% {
            opacity: 0.5;
            transform: translateY(5px);
            -webkit-transform: translateY(5px);
            -moz-transform: translateY(5px);
            -ms-transform: translateY(5px);
            -o-transform: translateY(5px);
}

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }



    .dashboard-content_details th, td {
        padding: 16px 24px !important;
        font-size: 12px;
    }

    table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
        text-align: center;
    }

    .dt-length select {
        margin-right: 5px !important;
    }
    .dt-search {
        position: relative;
    }

    .dt-search label {
        display: none !important;
    }

    .dt-search input {
        padding-left: 30px !important;
        height: 36px !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
    }

    .dt-search input::placeholder {
        color: #aaa; /* Placeholder color */
    }

    .dt-search input:focus {
        outline: none;
        border: 1px solid var(--sColor) !important;
        background-color: rgba(53, 54, 58, .02) !important;
        box-shadow: 0 0 5px rgba(53, 54, 58, .2) !important;
    }

    .dt-search::before {
        content: '' !important;
        position: absolute !important;
        left: 10px !important;
        color: black !important;;
        top: 50% !important;
        margin-left: 5px !important;
        width: 16px !important;
        height: 16px !important;
        background-image: url('/assets/img/svg/search.svg') !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        transform: translateY(-50%) !important;
        -webkit-transform: translateY(-50%) !important;
        -moz-transform: translateY(-50%) !important;
        -ms-transform: translateY(-50%) !important;
        -o-transform: translateY(-50%) !important;
    }   

/* Styling the dropdown menu */
.custom-dropdown-menu {
    box-shadow: none;
    background-color: #fff8fc;
    border: 1px solid var(--borderColor);
    padding: 10px 0;
    min-width: 300px;
    position: absolute;
    margin: 0 !important;
    margin-top: 20px !important;
    border-radius:16px;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    -ms-border-radius:16px;
    -o-border-radius:16px;
}

/* Styling each dropdown item */
.custom-dropdown-item {
    font-size: 16px;
    color: #333; /* Text color */
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns checkmark on the right */
}

/* Hover effect for dropdown items */
.custom-dropdown-item:hover {
    background-color: #f5f5f5; /* Light hover background */
    color: #333;
}

/* Selected item styling */
.selected {
    color: #333;
    font-weight: bold; /* Bold text */
}

/* Checkmark icon for selected item */
.selected::after {
    content: '✔'; /* Checkmark symbol */
    color: #c03c93; /* Color of the checkmark */
    font-size: 16px;
}




/*======================
     01.MEMBER FLOW =================
========================*/

    body.member {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        width: 100%;
        background-color: #F9FAFB;   
    }

    .member-container {
        min-height: 70vh;
    }

    .member-container>div {
        background-color: #fff;
        border: 1px solid var(--borderColor);
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }

    .member-container_title {
        font-weight: 600;
        font-size: 28px;
        line-height: 30px;
    }

    .member-container_subtitle {
        font-weight: 400;
        font-size: 14px;
        color: var(--lightTextColor);
    }

    .member-container .modal-form {
        margin-top: 0;
    }

    .form-progress>div {
        height: 5px;
        background-color: #FEE6FA;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

    .form-progress>div.active {
        background-color: var(--pColor);
    }






.step {
    display: flex;
    align-items: center;
    position: relative;
}

.step p {
    color: #b4b4b4;
    font-size: 12px;
    font-weight: 300;
}

.step .content {
    margin-left: 15px;
    z-index: 20;
}

.step .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    flex-shrink: 0;
    z-index: 1;
}

/* Default: line going down */
.step .circle::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 2px;
    height: 54px;
    background: #ccc;
    transform: translateX(-50%);
}

/* For the last child: remove ::after (downward line) */
.step:last-child .circle::after {
    display: none;
}

/* Add upward line using ::before on last step */
.step:last-child .circle::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 2px;
    height: 54px;
    background: #ccc;
    transform: translateX(-50%);
}


.step.active .circle {
    color: transparent;
    background: linear-gradient(to bottom, var(--gradient));
    -webkit-background-clip: text;
    background-clip: text;
    background-color: transparent;
    outline: 2px solid;
}

.step.active .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    padding: 2px; 
    background: linear-gradient(to bottom, var(--gradient));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.step.active h4,
.step.completed h4 {
    font-weight: 600;
}

.step.active p,
.step.completed p {
    color: #333;
}


.step.inactive .circle {
    border: 2px solid #ccc;
    color: #ccc;
    background-color: white;
}

.step.inactive h4 {
    color: #ccc;
}

.step.inactive p {
    color: #ddd;
}


.step.completed .circle {
    background: linear-gradient(to right, var(--gradient));
    color: white;
}

.step.completed .circle span {
    font-size: 16px;
}

.step.completed h4 {
    background: linear-gradient(to bottom, var(--gradient)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}


.accordion-button {
    border: solid 1.5px var(--pColor);
    background-color: #fff;
}






.accordion-button:not(.collapsed) {
    color: #fff !important;
    background: var(--pColor) !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) h4 {
    background: none;
    color: #fff;
    -webkit-text-fill-color: #fff; 

}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e") !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: transparent !important;
    border: none !important;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
}

.accordion-body {
    padding: 0 !important;
}

.candidate h5 {
    text-align: center;
    margin-bottom: 8px;
}

.candidate.winner h5 {
    background: linear-gradient(to bottom, var(--gradient)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-weight: 600;
}


.candidate.winner .square-image-container>div {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
}

.candidate .square-image-container>div {
    display: none;
}

.square-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    background-color: #fff;
    
}

.square-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}